# Ignore Gradle project files
.gradle
build
out

# Ignore IntelliJ project files
.idea

# Ignore Sandra files
logs
config.json
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
